&nbsp&nbsp&nbsp<label for="preg" class="rem">Pregunta:</label>
&nbsp&nbsp<input type="text" id="preg" name="quiz[pregunta]" placeholder="Escriba Pregunta" value = 
 	<% if (quiz.pregunta == 'Pregunta') {%>
       	""
    <% } else { %>
        "<%= quiz.pregunta %>"
    <% } %>/><p>
&nbsp&nbsp&nbsp<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Escriba Respuesta" value = 
 	<% if (quiz.respuesta == 'Respuesta') {%>
       	""
    <% } else { %>
        "<%= quiz.respuesta %>"
    <% } %>/><br><label class="rem">Tema:</label>

<select name="quiz[tema]">
	<option value="humanidades" <% if (quiz.tema === 'humanidades'){ %> selected  <% } %> >Humanidades</option>
	<option value="ocio" <% if (quiz.tema === 'ocio'){ %> selected  <% } %>>Ocio</option>
	<option value="tecnologia" <% if (quiz.tema === 'tecnologia'){ %> selected  <% } %> >Tecnologia</option>
	<option value="ciencia" <% if (quiz.tema === 'ciencia'){ %> selected  <% } %> >Ciencia</option>
	<option value="otro" <% if (quiz.tema === 'otro'){ %> selected  <% } %> >Otro</option> 
</select><p/>

<br>
<a href="/quizes"><button type="button">Cancelar</button></a>
&nbsp&nbsp
<input type="submit" value="Salvar">